<% if user_signed_in? %>
  <h1>All Friends</h1>
  <p>Current user: ></p>
  <div id="friends">
    <table class="table table-bordered align-middle table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Twitter</th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% @friends.each do |friend| %>
          <% if friend.user_id == current_user.id %>
            <tr>
              <td>  <%= link_to friend.first_name + ' '+ friend.last_name, friend  %></td>
              <td><%= friend.email%></td>
              <td><%= friend.phone%></td>
              <td><%= friend.twitter%></td>
              <td><%= friend.user_id%></td>
              <td><%= link_to "Show", friend, class:"btn btn-danger"%></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to "New friend", new_friend_path, class:" btn btn-primary" %>
<% else %>
  <h1>Home#index</h1>
  <p>Lalalalaaalal</p>
  <p>Find me in app/views/home/index.html.erb</p>
<% end %>
